header {
    background-color: var(--header-bg);
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;

}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a {
    text-decoration: underline;

}

main {
    flex: 1;
    padding: 2rem;
}